<div class="header-container">
    <img src="/assets/logo_p6.png" alt="logo" class="logo" />

    <!-- Bouton burger visible seulement sur mobile -->
    <div class="burger" (click)="toggleSidebar()" *ngIf="isLoggedIn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- Menu classique (desktop) -->
    <div class="isLoggedIn-container" *ngIf="isLoggedIn">
        <p (click)="logout()">Se déconnecter</p>
        <p [class.active]="isRouteActive('/articles')" [routerLink]="'/articles'">Articles</p>
        <p [class.active]="isRouteActive('/themes')" [routerLink]="'/themes'">Thèmes</p>
        <p>
            <img src="/assets/image.png" alt="user" [routerLink]="'/me'" />
        </p>
    </div>

    <!-- Sidebar mobile -->
    <div class="sidebar" [ngClass]="{'open': sidebarOpen}" *ngIf="isLoggedIn">
        <p (click)="logout()" class="logout" (click)="toggleSidebar()">Se déconnecter</p>
        <p [class.active]="isRouteActive('/articles')" [routerLink]="'/articles'" (click)="toggleSidebar()">Articles</p>
        <p [class.active]="isRouteActive('/themes')" [routerLink]="'/themes'" (click)="toggleSidebar()">Thèmes</p>
        <p>
            <img src="/assets/image.png" alt="user" [routerLink]="'/me'" />
        </p>
    </div>
    <!-- Overlay pour fermer le menu en cliquant à côté -->
    <div class="sidebar-overlay" *ngIf="sidebarOpen" (click)="toggleSidebar()"></div>
</div>